# 03_EDA_ANALISIS_DESCRIPTIVO.ipynb
# Objetivo: an√°lisis descriptivo inicial del dataset ya limpio y transformado

# Importaci√≥n de librerias y configuraci√≥n

In [24]:
import os
from pathlib import Path
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# Solo Matplotlib (sin seaborn en esta fase de verificaci√≥n)
import matplotlib.pyplot as plt

# Reproducibilidad
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

print("Librer√≠as cargadas correctamente.")

# --- Opciones de pandas para ver mejor las tablas ---
pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 140)
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")

# --- Opciones de pandas para ver mejor las tablas ---
pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 140)
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")

Librer√≠as cargadas correctamente.

## Cargo dataset limpio y transformado

In [25]:

# Ruta del archivo CSV limpio y transformado
ruta_dataset = "../DATA/DATA_OUTPUT/dataset_limpio_y_transformado.csv"

# Cargar el dataset
df = pd.read_csv(ruta_dataset, encoding="utf-8")

# Mostrar dimensiones
print(f"‚úÖ Dataset cargado correctamente.")
print(f"Filas: {df.shape[0]:,}  |  Columnas: {df.shape[1]}")

# Vista r√°pida de las primeras filas
df.head()

‚úÖ Dataset cargado correctamente.
Filas: 10,000  |  Columnas: 34

,transaction_id,customer_id,name,email,phone_clean,dominio,risk_score,risk_level,created_at,customer_days_active,transaction_date,transaction_hour,hour,year,month,day,weekday,month_year,region_normalized,country_normalized,is_international,amount,currency,merchant,merchant_category,entry_mode,transaction_result,arn,card_type,card_bin6,card_last4,card_masked,card_expiry,is_fraud
0,d97ea0b8-1869-4a78-a0cd-6356e6bf5feb,f21d2833-c18e-4d66-9943-97c46f5591ad,Christopher Gilmore,qmercer@gmail.com,866884634513,gmail.com,0.69,Medio,2025-09-05,242,2025-01-06,19:06:08,0,2025,9,5,Friday,2025-09,California,Togo,1,124.96,EUR,Brown-Gilbert,restaurant,wallet,approved,37a7048c3a5045f9b8baf73c,MASTERCARD,423952,6802,XXXX-XXXX-XXXX-6802,03/24,0
1,6c330754-0fdb-4f31-8cf7-7513d4e39f3a,a3b3e11b-7775-426c-a949-7db69b9381ec,William Barrett,elaine44@hotmail.com,100033715734463,hotmail.com,0.27,Bajo,2024-11-03,141,2025-03-24,23:30:54,0,2024,11,3,Sunday,2024-11,Texas,Saint Martin,1,151.69,EUR,"Davis, Erickson and Davis",electronics,magstripe,approved,f512e83aa9eb48d98b66c6ac,AMEX,431620,3027,XXXX-XXXX-XXXX-3027,10/26,0
2,6238ad32-3b74-443c-8278-ace4a2f155a9,9acfe8a8-0a93-4d58-bdc8-c078ef635de6,Linda Williams,woodkaren@hotmail.com,936376652159352,hotmail.com,0.16,Bajo,2025-03-23,158,2024-10-16,07:26:32,0,2025,3,23,Sunday,2025-03,Utah,Jersey,1,160.14,EUR,"Anderson, Barnett and Lloyd",gaming,ecommerce,declined,a6571d209527484da6c0759e,MASTERCARD,477500,7390,XXXX-XXXX-XXXX-7390,02/25,0
3,9e0d4019-f135-4738-8314-b1a046fb899f,45e1ded6-e770-4f42-b196-9c966a6e9e59,Vincent Saunders,nancy83@hotmail.com,2779202543,hotmail.com,0.58,Medio,2025-05-12,132,2024-12-31,08:37:49,0,2025,5,12,Monday,2025-05,New Mexico,British Indian Ocean Territory (Chagos Archipe...,1,77.03,EUR,"Wise, Larson and Brown",restaurant,contactless,declined,ccc1771d83c848038a953797,VISA,468119,6770,XXXX-XXXX-XXXX-6770,01/29,0
4,ec9c235c-b9d1-4ad2-8e5f-7252ffa748e7,2d4cfaec-1127-429e-bdbb-9faa2e33c08b,Mrs. Lindsey Allen Md,browndavid@hotmail.com,17225903259599,hotmail.com,0.55,Medio,2024-10-20,292,2025-08-08,17:59:21,0,2024,10,20,Sunday,2024-10,Kansas,Sao Tome and Principe,1,139.38,EUR,Maldonado-Beck,electronics,chip,approved,b0a54d13ca094472aa652ae7,VISA,469023,9432,XXXX-XXXX-XXXX-9432,02/29,0

### Creo carpeta de salida para el an√°lisis del EDA

In [26]:
# Ruta base (sube un nivel desde la carpeta NOTEBOOKS)
base_dir = Path("..") / "DATA" / "DATA_OUTPUT"

# Crear carpeta para guardar los resultados del an√°lisis
carpeta_eda = base_dir / "EDA"
carpeta_eda.mkdir(parents=True, exist_ok=True)

print(f"Carpeta creada o ya existente: {carpeta_eda.resolve()}")

Carpeta creada o ya existente: C:\Users\Propietario\Desktop\PROYECTO_FINAL\Proyecto_final_Data_Analytics\DATA\DATA_OUTPUT\EDA

## Chequeo b√°sico de estrusctura y nulos

In [27]:
# Chequeo b√°sico del dataset: tama√±o, columnas, tipos y nulos

print("Dimensiones -> Filas, Columnas:", df.shape)
print("\nColumnas:\n", df.columns.tolist(), "\n")

print("=== df.info() ===")
df.info()

# Resumen de nulos (solo las columnas que tengan)
nulos = df.isna().sum().sort_values(ascending=False)
nulos = nulos[nulos > 0]

if not nulos.empty:
    resumen_nulos = (
        nulos.to_frame("nulos")
             .assign(pct=lambda t: (t["nulos"] / len(df) * 100).round(2))
    )
    display(resumen_nulos)
    # Guardar en la carpeta de salida del EDA
    (carpeta_eda / "resumen_nulos.csv").write_text(
        resumen_nulos.to_csv(index=True, encoding="utf-8-sig")
        or ""  # write_text requiere una string; usamos el retorno de to_csv
    )
    print("Resumen de nulos guardado en:", (carpeta_eda / "resumen_nulos.csv").resolve())
else:
    print("No hay columnas con nulos.")

Dimensiones -> Filas, Columnas: (10000, 34)

Columnas:
 ['transaction_id', 'customer_id', 'name', 'email', 'phone_clean', 'dominio', 'risk_score', 'risk_level', 'created_at', 'customer_days_active', 'transaction_date', 'transaction_hour', 'hour', 'year', 'month', 'day', 'weekday', 'month_year', 'region_normalized', 'country_normalized', 'is_international', 'amount', 'currency', 'merchant', 'merchant_category', 'entry_mode', 'transaction_result', 'arn', 'card_type', 'card_bin6', 'card_last4', 'card_masked', 'card_expiry', 'is_fraud']

=== df.info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   transaction_id        10000 non-null  object
 1   customer_id           10000 non-null  object
 2   name                  10000 non-null  object
 3   email                 10000 non-null  object
 4   phone_clean           10000 non-null  int64
 5   dominio               10000 non-null  object
 6   risk_score            10000 non-null  float64
 7   risk_level            10000 non-null  object
 8   created_at            10000 non-null  object
 9   customer_days_active  10000 non-null  int64
 10  transaction_date      10000 non-null  object
 11  transaction_hour      10000 non-null  object
 12  hour                  10000 non-null  int64
 13  year                  10000 non-null  int64
 14  month                 10000 non-null  int64
 15  day                   10000 non-null  int64
 16  weekday               10000 non-null  object
 17  month_year            10000 non-null  object
 18  region_normalized     10000 non-null  object
 19  country_normalized    10000 non-null  object
 20  is_international      10000 non-null  int64
 21  amount                10000 non-null  float64
 22  currency              10000 non-null  object
 23  merchant              10000 non-null  object
 24  merchant_category     10000 non-null  object
 25  entry_mode            10000 non-null  object
 26  transaction_result    10000 non-null  object
 27  arn                   10000 non-null  object
 28  card_type             10000 non-null  object
 29  card_bin6             10000 non-null  int64
 30  card_last4            10000 non-null  int64
 31  card_masked           10000 non-null  object
 32  card_expiry           10000 non-null  object
 33  is_fraud              10000 non-null  int64
dtypes: float64(2), int64(10), object(22)
memory usage: 2.6+ MB
No hay columnas con nulos.

## Compruebo registros duplicados

In [28]:
# Paso 4Ô∏è‚É£ - Comprobaci√≥n de duplicados
duplicados = df.duplicated().sum()
print(f"N√∫mero de registros duplicados en el dataset: {duplicados}")

# Si hay duplicados, los mostramos (solo los primeros 5)
if duplicados > 0:
    display(df[df.duplicated()].head())
else:
    print("No hay registros duplicados.")

N√∫mero de registros duplicados en el dataset: 0
No hay registros duplicados.

## Estad√≠sticas descriptivas

In [29]:
# Resumen num√©rico general
resumen_numerico = df.describe().T  # Transpuesto para que se vea mejor
display(resumen_numerico)

# Guardar el resumen en la carpeta EDA
(resumen_numerico
    .to_csv(carpeta_eda / "resumen_estadistico.csv", encoding="utf-8-sig"))

print("Resumen estad√≠stico guardado en:", (carpeta_eda / "resumen_estadistico.csv").resolve())

,count,mean,std,min,25%,50%,75%,max
phone_clean,"10,000.00","203,116,852,426,307.09","436,725,639,314,863.62","49,918,491.00","7,982,948,304.75","8,538,969,503,874.00","128,072,547,652,563.00","1,993,280,326,788,724.00"
risk_score,"10,000.00",0.51,0.29,0.00,0.27,0.51,0.75,1.00
customer_days_active,"10,000.00",120.38,85.24,0.00,48.00,106.00,180.00,363.00
hour,"10,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00
year,"10,000.00","2,024.79",0.41,"2,024.00","2,025.00","2,025.00","2,025.00","2,025.00"
month,"10,000.00",6.43,3.39,1.00,4.00,6.00,9.00,12.00
day,"10,000.00",15.49,8.95,1.00,7.75,16.00,23.00,31.00
is_international,"10,000.00",1.00,0.03,0.00,1.00,1.00,1.00,1.00
amount,"10,000.00",189.61,94.59,2.22,112.40,190.30,263.04,579.41
card_bin6,"10,000.00","475,021.31","43,458.45","400,024.00","437,798.00","474,909.50","512,702.75","549,997.00"
card_last4,"10,000.00","5,046.61","2,890.10",0.00,"2,554.75","5,086.00","7,563.25","9,999.00"
is_fraud,"10,000.00",0.01,0.10,0.00,0.00,0.00,0.00,1.00

Resumen estad√≠stico guardado en: C:\Users\Propietario\Desktop\PROYECTO_FINAL\Proyecto_final_Data_Analytics\DATA\DATA_OUTPUT\EDA\resumen_estadistico.csv

### üìä An√°lisis general del resumen descriptivo

#### ‚úÖ Variables normales

- **`risk_score`** ‚Üí Promedio ‚âà **0.51**, desviaci√≥n **0.29**, entre 0 y 1 ‚Üí ‚úÖ *normal y coherente*.  
- **`customer_days_active`** ‚Üí Media ‚âà **120 d√≠as**, con m√°x. **363** ‚Üí *correcto (equivalente a un a√±o aprox.)*.  
- **`amount`** ‚Üí Media ‚âà **189 ‚Ç¨**, m√°x. **579 ‚Ç¨**, m√≠nimos > 2 ‚Ç¨ ‚Üí *valores razonables*.  
- **`is_international`** ‚Üí Media **1**, indica que la mayor√≠a de las transacciones son *internacionales* (ya se observ√≥ en pasos previos).  
- **`is_fraud`** ‚Üí Media **0.01**, aproximadamente **1 % de fraude**, ideal para un dataset con proporci√≥n realista.  

---

#### ‚ö†Ô∏è Variables con valores que no tienen sentido num√©rico

Estas variables deben **excluirse de los an√°lisis estad√≠sticos** porque no representan magnitudes medibles:

- **`phone_clean`**, **`card_bin6`**, **`card_last4`** ‚Üí *son identificadores o c√≥digos, no variables cuantitativas.*  
  > Ejemplo: el valor medio o la desviaci√≥n est√°ndar de un n√∫mero de tel√©fono o tarjeta carece de significado estad√≠stico.  
  ‚úÖ Estas columnas se excluir√°n de los c√°lculos posteriores.

- **`hour`** ‚Üí Aparece todo en **0**, probablemente porque es una columna de tipo *hora* (`time`) que `describe()` no interpreta correctamente.  
  M√°s adelante se realizar√° un **resumen espec√≠fico de variables temporales** (`hour`, `month`, `day`, etc.).

---

‚úÖ **Conclusi√≥n:**  
El dataset presenta valores coherentes y bien distribuidos, lo que permite avanzar al siguiente bloque del an√°lisis descriptivo.

## An√°lisis descriptivo agrupado por categor√≠as clave

In [30]:
# N√∫mero de casos por clase
print("Distribuci√≥n de fraude:")
print(df["is_fraud"].value_counts(normalize=True).mul(100).round(2).astype(str) + " %")

# Media de las principales variables num√©ricas por tipo de fraude
comparativa_fraude = (
    df.groupby("is_fraud")[["amount", "risk_score", "customer_days_active"]]
      .mean()
      .round(2)
)

display(comparativa_fraude)

# Guardar resultado en carpeta EDA
comparativa_fraude.to_csv(carpeta_eda / "comparativa_fraude.csv", encoding="utf-8-sig")

print("Comparativa guardada en:", (carpeta_eda / "comparativa_fraude.csv").resolve())

Distribuci√≥n de fraude:
is_fraud
0    98.92 %
1     1.08 %
Name: proportion, dtype: object

          amount  risk_score  customer_days_active
is_fraud
0         189.67        0.51                120.45
1         184.33        0.48                114.01

Comparativa guardada en: C:\Users\Propietario\Desktop\PROYECTO_FINAL\Proyecto_final_Data_Analytics\DATA\DATA_OUTPUT\EDA\comparativa_fraude.csv

### üìä Interpretaci√≥n de resultados ‚Äî Comparativa de fraude

#### üìà Distribuci√≥n general
- **Transacciones no fraudulentas (`is_fraud = 0`)**: 98.92 %  
- **Transacciones fraudulentas (`is_fraud = 1`)**: 1.08 %  

Esta proporci√≥n confirma un **desbalance realista** en los datos, donde el fraude representa una fracci√≥n muy peque√±a del total de operaciones.  
Este comportamiento es habitual en contextos financieros y servir√° para probar la eficacia de los an√°lisis y modelos posteriores.

---

#### üí∞ Comparativa de valores medios

| Variable | Sin fraude | Con fraude | Diferencia destacable |
|-----------|-------------|-------------|-------------------------|
| **amount** | 189.67 ‚Ç¨ | 184.33 ‚Ç¨ | Las operaciones fraudulentas muestran un **importe medio ligeramente inferior**, por lo que el fraude no se concentra necesariamente en importes altos. |
| **risk_score** | 0.51 | 0.48 | El nivel de riesgo es **un poco menor en fraudes**, lo que podr√≠a indicar que el sistema de puntuaci√≥n no siempre detecta correctamente los casos sospechosos. |
| **customer_days_active** | 120.45 | 114.01 | Los clientes involucrados en fraude tienden a ser **ligeramente m√°s recientes**, lo que sugiere que las cuentas nuevas podr√≠an tener m√°s probabilidad de actividad fraudulenta. |

---

#### üß≠ Conclusi√≥n
En conjunto, los resultados indican que el fraude **no se caracteriza necesariamente por importes m√°s altos ni por puntuaciones de riesgo m√°s elevadas**.  
Sin embargo, la menor antig√ºedad de los clientes en los casos de fraude podr√≠a ser un patr√≥n relevante para explorar en fases posteriores del an√°lisis.

Este tipo de informaci√≥n ser√° √∫til para:
- Ajustar las reglas de detecci√≥n de riesgo.  
- Analizar m√°s adelante por **categor√≠a de comercio**, **modo de entrada** o **pa√≠s** para detectar patrones m√°s claros.  

---

üìÅ Archivo generado:  
`DATA/DATA_OUTPUT/EDA/comparativa_fraude.csv`